* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./../assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./../assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./../assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./../assets/sun.svg);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#back-button {
  height: 30px;
  width: 30px;
  margin-left: 25px;
  margin-top: 5px;
}

/* container */

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  /* justify-content: center; */
}

#content-left {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-right: 1%;
}

#content-right {
  display: flex;
  width: 100%;
  margin: 0;
  padding-left: 1%;
  padding-right: 5%;
}

#description {
  text-align: justify;
}

#tecnology {
  display: flex;
  gap: 3px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#technology-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 90px;
}

#technology-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

  #projects {
    width: 500px;
    height: 300px;
  }
  
  #projects-mobile {
    width: 380px;
    height: 700px;
  }


@media screen and (max-width: 1166px) {
  #projects {
    width: 350px;
    height: 200px;
  }
  #projects-mobile {
    width: 350px;
    height: 600px;
  }
}

@media screen and (max-width: 840px) {
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #content-left {
    margin-right: 4%;
  }
  #content-right {
    margin-left: 4%;
  }

  #title {
    text-align: center;
    margin-right: 0;
  }

  #projects {
    width: 300px;
    height: 200px;
  }

  #projects-mobile {
    width: 300px;
    height: 550px;
  }

  #technology-img {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
  }
}

/* profile */

#profile {
  display: flex;
  padding: 24px;
  gap: 10px;
  align-items: center;
}

#profile img {
  width: 40px;
}

/* title */

#title {
  font-size: large;
  text-align: center;
  flex: 1;
  margin-right: 250px;
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px 0;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

ul li a {
  text-decoration: none;
}

/* pseudo-selector */

ul li:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */

#social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  top: 20;
}

/* media queries */

@media (min-width: 700px) {
  :root {
    --bg-url: url(./../assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./../assets/bg-desktop-light.jpg);
  }
}

/* animation */

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
